# tupel
### ordered & unchangeable     
#### allow duplicate values
### Tuples are unchangeable, meaning that you cannot change, add, or remove items once the tuple is created.

In [5]:
tuple1 = (1,2,3,4,5)
print(tuple1)

(1, 2, 3, 4, 5)

### Note: one item tuple

In [7]:
oneItemTuple = ("onlyone",)  # <class 'tuple'>
tuplewrong = ("wrong") 
print(type(tuplewrong))

<class 'str'>

## workaround
---> You can convert the tuple into a list, change the list, and convert the list back into a tuple.    
---> you can convert it into a list, add your item(s), and convert it back into a tuple.  
---> Convert the tuple into a list, remove "apple", and convert it back into a tuple:

## Add tuple to a tuple

In [8]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')


### Note : The del keyword can delete the tuple completely:

In [11]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined

### Unpacking a Tuple
#### Note:  The number of variables must match the number of values in the tuple, if not, you must use an asterisk to collect the remaining values as a list.

In [12]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [14]:
# Using Asterisk*
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, *yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
['banana', 'cherry', 'strawberry']
raspberry

#### Multiply tuple

In [15]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

### Tuple method

--> count()	Returns the number of times a specified value occurs in a tuple   
---> index()	Searches the tuple for a specified value and returns the position of where it was found  
### Note it only has one parameter and it's values


#### len(), max(), min(), sum(), sorted(), any(), all() we can also use this type of methods to take expected outcomes from tuples

In [19]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(5)

print("count: ",x)

count:  2

In [21]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.index(8)

print("Index of element is: ",x)

Index of element is:  3