# lambda

### anonymous(without name) | Any number of args | only one expression


lambda arguments : expression

### use : As anonymous function in function

In [14]:
lambda1 = lambda a, b : a*b
print(lambda1(4,5))

20

#### we can also use lamda fuction inside print() function

In [12]:
print((lambda a, b : a*b)(5,6))

30

In [4]:
def mydoubler(Value):
    return lambda a : a*Value

result = mydoubler(3)
print(result(2))

6

In [ ]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2) # i.e, n
mytripler = myfunc(3) # i.e, n

print(mydoubler(11))   # i.e, a
print(mytripler(4))  # i.e, a

22
12

In [ ]:
# maximum using lambda

maximum = lambda a,b :a if a > b else b ## lambda a,b : this i.e., a if a > b else print(this)
print(maximum(input(),input()))  
print(maximum(5,6))  # this will not override but give another outpur..!

5
6

## lambda with filter

In [6]:
nums = [1,2,3,4,1,5,7,8,9]
even = list(filter(lambda x : x % 2 ==0,nums))
print(even)

[2, 4, 8]

In [ ]:
users = [
    {"name": "Alice", "active": True},
    {"name": "Bob", "active": False},
    {"name": "Carol", "active": True}
]

active_users = list(filter(lambda user: not user["active"], users))   
print(active_users)

[{'name': 'Bob', 'active': False}]

## lambda with Map function

In [15]:
iterabel1 = ('a','b','s')
iterabel2 = ('1','2','3')
list1 = ['x','y','z']

concate = list(map(lambda x,y,z: x + (y +z),iterabel1,iterabel2,list1))
print(concate)

['a1x', 'b2y', 's3z']

### lambda with sorted()

In [18]:
# Sort a list of tuples by the second element
pairs = [(1, 3), (2, 2), (3, 1)]
sorted_pairs = sorted(pairs, key=lambda x: x[0],reverse=True)
print(sorted_pairs)  # Output: [(3, 1), (2, 2), (1, 3)]

[(3, 1), (2, 2), (1, 3)]