# set
### A set is a collection which is unordered, unchangeable*, and unindexed. No Duplicates

=-> Set items are unchangeable, but you can remove items and add new items.

 ### Note: Sets are unordered, so you cannot be sure in which order the items will appear. except all numeric values in set

In [9]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'cherry', 'banana'}

In [10]:
print(thisset)

{'apple', 'cherry', 'banana'}

In [ ]:
numericset = {1,2,3,5,6,3} # it's always sorted ans ordered bcz it's numeric values
print(numericset)

{1, 2, 3, 5, 6}

In [ ]:
thisset = {'a','b','c','d'} # it's unordered 
print(thisset)
print(thisset)

{'d', 'c', 'a', 'b'}
{'d', 'c', 'a', 'b'}

### Once a set is created, you cannot change its items, but you can REMOVE items and ADD new items.
### Note: The values True and 1 are considered the same value in sets, and are treated as duplicates:
### Note: The values False and 0 are considered the same value in sets, and are treated as duplicates:

## Add()- method

In [1]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'orange', 'banana', 'apple', 'cherry'}

## Update()- method

### update in set can have any ITERABLE as argument


### Note: if we use single element not variable than it will spread all object within set

In [8]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)


print(thisset)
thisset.update("KIWI")  #{'k', 'papaya', 'apple', 'pineapple', 'i', 'cherry', 'banana', 'mango', 'w'}

print(thisset)

{'banana', 'papaya', 'apple', 'pineapple', 'cherry', 'mango'}
{'papaya', 'apple', 'pineapple', 'W', 'cherry', 'I', 'banana', 'mango', 'K'}

## Remove set items

### thisset.remove("banana")

In [ ]:
thisset = {"apple", "banana", "cherry",'wiki', "pineapple"}


### Remove - it will rise ERROR id item does not exist
# thisset.remove("mango")
print(thisset)

### discard() = it will not rise error
thisset.discard("mango")
print(thisset)


### pop() = it return any element from set while set is unordered
thisset.pop()
print(thisset) 


### clear() = empties the set
thisset.clear()
print(thisset)


#### del keyword
del thisset
print(thisset) # outpur " this set is not defined"

{'banana', 'pineapple', 'apple', 'cherry', 'wiki'}
{'banana', 'pineapple', 'apple', 'cherry', 'wiki'}
{'pineapple', 'apple', 'cherry', 'wiki'}
set()

NameError: name 'thisset' is not defined

## join set

In [ ]:
set1 = {"a", "b", "c", '1', '2', '2' }
set2 = {1, 2, 3, '1',"a"}

#### union of set  ===> The union() and update() methods joins all items from both sets.
unionset = set1.union(set2)
print(unionset)


### intersection - only duplicate

intersectionset = set1.intersection(set2)
print(intersectionset)


### difference = method keeps the items from the first set that are not in the other set(s).
### sybol  -
differenceset = set1.difference(set2)
print(differenceset)


### symmetric_difference = all item axcept duplicate  
## symbol   ' ^ ' 

symmetric_difference_set = set1.symmetric_difference(set2)
print(symmetric_difference_set)

{'c', 1, 2, 3, 'b', '2', '1', 'a'}
{'a', '1'}
{'c', '2', 'b'}
{1, 2, 3, 'c', 'b', '2'}

### join set with other datatype like list and tuple

In [ ]:
set1 = {"a", "b", "c"}
list1 = [1,2,3]
tuple1 = (1, 2, 3)

finalset1 = set1.union(tuple1)  #### set + tuple
print(finalset1)   


finalset2 = set1.union(list1) ### set + list
print(finalset2)

print()
print()


##### join multiple set
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)


myset = set1 | set2 | set3 |set4  # same as union
print(myset)

# & use insted of itersection
# - instead of difference
# ^ instead of symmetric_difference
# | insted of union

{'c', 2, 1, 3, 'b', 'a'}
{'c', 2, 1, 3, 'b', 'a'}


{'c', 1, 2, 3, 'b', 'bananas', 'a', 'apple', 'cherry', 'John', 'Elena'}
{'c', 1, 2, 3, 'b', 'bananas', 'a', 'apple', 'cherry', 'John', 'Elena'}

###  Note: Both union() and update() will exclude any duplicate items.

# all set method

add()	                  	------Adds an element to the set      
clear()	 	                ------Removes all the elements from the set   
copy()	 	               --------- Returns a copy of the set      
difference()	-	        --------Returns a set containing the difference between two or more sets      
difference_update()	-=	    ----------Removes the items in this set that are also included in another, specified set     
discard()	 	            -------Remove the specified item     
intersection()	&	        ----------Returns a set, that is the intersection of two other sets      
intersection_update()	&=	--------Removes the items in this set that are not present in other, specified set(s)     
isdisjoint()	 	       ---------- Returns whether two sets have a intersection or not    
issubset()	<=	            ----------Returns True if all items of this set is present in another set   
 	<	                    ----------Returns True if all items of this set is present in another, larger set     
issuperset()	>=         ---------- Returns True if all items of another set is present in this set    
 	>	                    -----------Returns True if all items of another, smaller set is present in thi s set        
pop()	                	---------Removes an element from the set   
remove()	 	            ------------Removes the specified element      
symmetric_difference()	^	   ----------------Returns a set with the symmetric differences of two sets     
symmetric_difference_update()	^=	  ----------  Inserts the symmetric differences from this set and another    
union()	|	                          --------  Return a set containing the union of sets          
update()	|=	                      -----------  Update the set with the union of this set and others